/*! base.css v0.0.1 | MIT License | github.com/niquet/ass-design-system/ass/css/base.css */

:root {
    /* Typography */ 
    --root-font-size: 10px;

    --base-font-size:       1.6000em;
    --base-bottom-margin:   3.0000rem;
    --base-scale-ratio:     1.2500;

    --global-header-fonts:  "Montserrat", "Helvetica", "Arial", sans-serif;
    --global-body-fonts:    "Esteban", "Luna";
    --global-line-height:   3rem;

    --global-large-title-size:          6.1035em;
    --global-large-title-line-height:   9rem;
    --global-large-title-bottom-margin: 3rem;

    --global-title-size:                4.8828em;
    --global-title-line-height:         6rem;
    --global-title-bottom-margin:       3 rem;

    --global-subtitle-size:             3.9062em;
    --global-subtitle-line-height:      6rem;
    --global-subtitle-bottom-margin:    3rem;

    --global-heading-size:              3.1250em;
    --global-heading-line-height:       6rem;
    --global-heading-bottom-margin:     3rem;

    --global-subheading-size:           2.5000em;
    --global-subheading-line-height:    3rem;
    --global-subheading-bottom-margin:  3rem;

    --global-caption-size:              2.000em;
    --global-caption-line-height:       3rem;
    --global-caption-bottom-margin:     3rem;
}

/* Main root
============================================================================= */
html {}

/* Sectioning root
============================================================================= */
body {}

/* Content sectioning
============================================================================= */
address {}

article {}

aside {}

footer {}

header {}

h1 {
    font-size: var(--global-large-title-size);
}

h2 {
    font-size: var(--global-title-size);
}

h3 {
    font-size: var(--global-subtitle-size);
}

h4 {
    font-size: var(--global-heading-size);
}

h5 {
    font-size: var(--global-subheading-size);
}

h6 {
    font-size: var(--global-caption-size);
}

hgroup {}

main {}

nav {}

section {}

/* Text content
============================================================================= */
blockquote {}

dd {}

div {}

dl {}

dt {}

figcaption {}

figure {}

hr {}

li {}

ol {}

p {}

pre {}

ul {}

/* Inline text semantics
============================================================================= */
a {}

abbr {}

b {}

bdi {}

bdo {}

br {}

cite {}

code {}

data {}

dfn {}

em {}

i {}

kbd {}

mark {}

q {}

rb {}

rp {}

rt {}

rtc {}

ruby {}

s {}

samp {}

small {}

span {}

strong {}

sub {}

sup {}

time {}

u {}

var {}

wbr {}

/* Image and multimedia
============================================================================= */
area {}

audio {}

img {}

map {}

track {}

video {}

/* Embedded content
============================================================================= */
embed {}

iframe {}

object {}

param {}

picture {}

source {}

/* Scripting
============================================================================= */
canvas {}

noscript {}

script {}

/* Demarcating edits
============================================================================= */
del {}

ins {}

/* Table content
============================================================================= */
caption {}

col {}

colgroup {}

table {}

tbody {}

td {}

tfoot {}

th {}

thead {}

tr {}

/* Forms
============================================================================= */
button {}

datalist {}

fieldset {}

form {}

input {}

label {}

legend {}

meter {}

optgroup {}

option {}

output {}

progress {}

select {}

textarea {}

/* Interactive elements
============================================================================= */
details {}

dialog {}

menu {}

summary {}

/* Web Components
============================================================================= */
slot {}

template {}